//Colors

$red: #e3646e;
$purple: #bb72e9;
$blue: #3996db;
$green: #82bc4f;
$yellow: #eabd5f;

$gray-100: #e2e4e9;
$gray-200: #c0c4ce;
$gray-300: #878ea1;
$gray-400: #292c34;
$gray-500: #16181d;
$gray-600: #0d0e11;
