@use "/src/styles/abstract/mixins" as mix;
@use "/src/styles/abstract/variaveis" as var;

.home {
  background-image: (url(/public/images/background-intro.png));
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 112px 163px 57px 112px;
  &-avatar {
    width: 120px;
    margin-bottom: 56px;
  }
  &-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    &-subtitle {
      @include mix.subtitle();
      color: var.$gray-200;
      & strong {
        color: var.$red;
      }
    }
    &-title {
      @include mix.title-lg();
      color: var.$gray-100;
    }
    &-description {
      @include mix.text-sm();
      color: var.$gray-300;
      max-width: 700px;
    }
  }
  &-skills {
    display: flex;
    gap: 16px;
    margin: 80px 0;
  }
}
