@use "/src/styles/abstract/mixins" as mix;
@use "/src/styles/abstract/variaveis" as var;

.projects {
  display: flex;
  flex-direction: column;
  padding: 62px 120px 144px 120px;
  align-items: center;
  justify-content: center;
  gap: 56px;
  background-color: var.$gray-500;
  &-intro {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &-subtitle {
      @include mix.subtitle();
      color: var.$red;
    }
    &-title {
      @include mix.title-md();
      color: var.$gray-100;
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 280px);
    gap: 24px;
  }
}
